<a href="{{ path('cmf_routing_object', {_route_object: item.object}) }}" class="text-center skill-item-container p-3">
	<h3>{{ item.object.get('title') }}</h3>
	<div class="p-3 mt-3 skill-img">
		<img src="{{ item.object.get('image').file.url }}" width="auto" height="80" alt="{{ item.object.get('title') }}">
	</div>
</a>
