{{ dump(item.object) }}
<a href="#" class="text-center skill-item-container p-3">
	<h3>Basic Chop</h3>
	<div class="p-3 mt-3 skill-img">
		<img src="{{ asset('images/pup-cup.png') }}" width="auto" height="80" alt="chop skill image">
	</div>
</a>
